body{
    margin: 20px 60px;
}

.colors {
  border: 2px solid grey;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: -50px;
  margin: 20px 25px;
}

.rectangle {
  display: inline-block;
  border: 2px solid red;
  width: 400px;
  height: 100px;
  margin-top: 40px;
  margin-right: 1px;
}

.one{
  background-color: #2d5dcc;
  text-align: center;
  color: white;
  border: 2px solid #2d5dcc;
}

.two {
  background-color: #d957d9;
  text-align: center;
  color: black;
  border: 1px solid #d957d9;
}

.three {
  background-color: #4fe0b0;
  text-align: center;
  color: black;
  border: 1px solid #4fe0b0;
}

.four{
  background-color: #efd9ca;
  text-align: center;
  color: black;
  border: 1px solid #efd9ca;
}

.fonts{
  display: inline-block;
  width: 600px;
  height: 100px;
  margin-top: 40px;
}

.fontone{
  font-family: 'Source Code Pro', monospace;
}

.fontsecond{
  font-family: 'Nunito Sans', sans-serif;
}

.fontthird{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-family: Gill Sans;
}

ul{
  font-family: Gill Sans;
}


